  <!-- Sidebar -->
  <aside class="sidebar border-end bg-white">
    <div class="p-3 d-flex align-items-center gap-2">
      <div class="logo-box d-flex align-items-center justify-content-center">
        <a href=""><img src="assets/logo.png" alt="ALZAID Logo" class="sidebar-logo"> </a>     
      </div>
    </div>

    <div class="px-3 pb-3">
      <div class="small text-muted">Administrador</div>
      <div class="fw-semibold">Sistema (admin)</div>
    </div>

    <nav class="nav flex-column px-2">
      <a class="nav-link" href="#"><span class="me-2">🏠</span>Inicio</a>
      <a class="nav-link active" href="#"><span class="me-2">👤</span>Pacientes</a>
      <a class="nav-link" href="#"><span class="me-2">🍽️</span>Valoración Nutricional</a>
      <a class="nav-link" href="#"><span class="me-2">👪</span>Familiares</a>
      <a class="nav-link" href="#"><span class="me-2">🧑‍⚕️</span>Valoración Cuidadores</a>
      <a class="nav-link" href="#"><span class="me-2">📄</span>Expediente Médico</a>

      <hr class="my-3">

      <a class="nav-link" href="#"><span class="me-2">🗒️</span>Bitácora</a>
      <a class="nav-link" href="#"><span class="me-2">🗓️</span>Programar Actividades</a>
      <a class="nav-link" href="#"><span class="me-2">👥</span>Usuarios</a>
      <a class="nav-link" href="#"><span class="me-2">⚙️</span>Configuración</a>

      <div class="mt-3 px-2">
        <button class="btn btn-outline-danger w-100 btn-sm">Cerrar sesión</button>
      </div>
    </nav>
  </aside>